.markButton {
  cursor: pointer;
  display: grid;
  justify-content: center;
  padding: 4px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
}

.markButton:hover {
  background-color: var(--gray-100);
}

.markButton[data-active="true"] {
  color: var(--gray-100);
  background-color: var(--gray-800);
}

.markButton[data-active="true"]:hover {
  background-color: var(--gray-700);
}

.markButton .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
